:root{
  font-size: 18px;
  --basic-violet: blueviolet;
  --basic-dark-white: rgb(248, 242, 242);
  --navbar-a-color: rgb(102, 101, 101);
  --basic-dark-green: rgb(132, 205, 202);
  --basic-light-green: #d7f898 ;
  --basic-dark-green-2: #10784b ; 
  --basic-dark-green-3: #0b440b;
  --basic-orange: #f56d13;
  --basic-pink: #d42a60;

}
*, :after, :before{
  box-sizing: border-box;
}
.hiden{
  transform: translateY(-110%);
  opacity: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.shown{
  opacity: 1;
  transform: translateY(0);
}
html, body{
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
ul{
  list-style-type: none;
  padding: 0;
}
a:link,a:visited{
	text-decoration: none;
	color: var(--link-color);
}
.container-main{
  min-width:260px;
  transition: font-size .25s ease;
  width: 1300px;
  margin: 0 auto 0 auto;
  font-size: 1rem;

}

@media (max-width: 1370px){
  .container-main{
    width: 1100px;
    font-size: 0.9rem;
  }
}
@media (max-width: 1100px){
  .container-main{
    width: 95vw;
  }
  @media (max-width: 500px){
    .container-main{
      font-size: 18px;
    }
  }
}