:root{
  --basic-violet: blueviolet;
  --basic-dark-white: rgb(241, 235, 235);
  --navbar-a-color: rgb(102, 101, 101);
  --basic-light-green: #85DCB0;
  --basic-dark-green: #41B3A3;
  --basic-orange: #E8A87C;
  --basic-pink: #C38D9E;
}
body{
  margin: 0;
  font-family: 'Eczar', serif;
}
#container{
  max-width: 1300px;
  margin: auto;
  font-size: 1rem;
  background-color: red;
}